# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
#                                                                                 #
# ███████╗███████╗██╗  ██╗    ██╗     ███████╗ ██████╗  █████╗  ██████╗██╗   ██╗  #
# ██╔════╝██╔════╝╚██╗██╔╝    ██║     ██╔════╝██╔════╝ ██╔══██╗██╔════╝╚██╗ ██╔╝  #
# █████╗  ███████╗ ╚███╔╝     ██║     █████╗  ██║  ███╗███████║██║      ╚████╔╝   #
# ██╔══╝  ╚════██║ ██╔██╗     ██║     ██╔══╝  ██║   ██║██╔══██║██║       ╚██╔╝    #
# ███████╗███████║██╔╝ ██╗    ███████╗███████╗╚██████╔╝██║  ██║╚██████╗   ██║     #
# ╚══════╝╚══════╝╚═╝  ╚═╝    ╚══════╝╚══════╝ ╚═════╝ ╚═╝  ╚═╝ ╚═════╝   ╚═╝     #
#               Discord: https://discord.gg/kwYdXC4wzb                            #
#             Documentation: https://docs.esx-framework.org                       #
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # 


# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

### Endpoints Privacy ###
sv_endpointPrivacy true

sv_hostname "Unconfigured ESX Legacy Server"
set steam_webApiKey "28E8D0B59E09706C08ADE529C01EB608"
sv_licenseKey "cfxk_1pMPrIVOwE43EFTzJFK5_4JpQJu"

sv_enforceGameBuild 2372

sv_maxclients 8   # Allow access to features usually locked behind a FiveM patreon key

sets sv_projectName "ESX Legacy"
sets sv_projectDesc ""
sets locale "en-GB"
sets tags "default, esx, legacy, Roleplay"
sv_scriptHookAllowed 0

exec resources.cfg

set onesync legacy   # Infinity is not recommended for ESX
set mysql_connection_string "mysql://root@localhost/es_extended?waitForConnections=true&charset=utf8mb4"
set mysql_ui true

## Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow

